#clock{
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40vw;
    width: 40vw;
    margin: auto;
    position: relative
}

#hour,#minute,#second{
    position: absolute;
    border-radius: 20px;
    transform-origin: bottom;
    z-index: 2;
}

#hour{
    height: 8vw;
    width: 0.8vw;
    left: 49.2%;
    top: 30.5%;
    background-color: red;
}

#minute {
    height: 10vw;
    width: 0.6vw;
    left: 49.2%;
    top: 25%;
    background-color: green;
   
}

#second{
    height: 13.5vw;
    width: 0.4vw;
    left: 49.2%;
    top: 15.5%;
    background-color: black;
    
}

#digital{
    height:3vw;
    width:10vw;
    border:3px solid black;
    background-color:lemonchiffon;
    position:relative;
    top:61%;
    left:38%;
    z-index: 1;
    font-weight: bold;
    color: saddlebrown;
}
#hourDigital{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 6%;
    left: 4%;
    text-align: center;
    font-size: xx-large;
}
#minuteDigital{
    height: 3vw;
    width: 3.5vw;
    position: absolute;
    top: 6%;
    left: 34%;
    text-align: center;
    font-size: xx-large;
}
#secondDigital{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 6%;
    left: 69%;
    text-align: center;
    font-size: xx-large;
}
.colon1{
    position: absolute;
    top: 0%;
    left: 32%;
    text-align: center;
    font-size: xx-large;
}
.colon2{
    position: absolute;
    top: 0%;
    left: 64.5%;
    text-align: center;
    font-size: xx-large;
}